.Spinner {
   margin: 250px 400px;
   height: 50px;
   width: 50px;
   border: 8px solid #d1e231;
   border-radius: 50%;
   border-top-color: gray;
   border-bottom-color: gray;
   animation: spin 2s linear infinite;
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}